.change-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__static {
    color: #061730;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 800;

    &-wrap {
      word-wrap:break-word ;
    }
  }

  &__pencil {
    width: 30px;
    height: 30px;
  }
}