@import '../../scss/_variables';

.main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 98;

  &-slider {

    &__info {
      max-width: 590px;
      display: flex;
      justify-content: center;
      align-items: center;
    
    
      &-container {
    
        &-title {
          // margin-top: 160px;
          margin-bottom: 40px;
          font-size: 64px;
          font-weight: 600;
        }
    
        &-description {
          margin-bottom: 40px;
          font-size: 20px;
          font-weight: 600;
          color: #5D7497;
        }
    
        &-button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 30px 0;
          text-decoration: none;
          color: #fff;
          background-color: $borderWhiteTheme;
          border-radius: 64px;
          transition: all .3s;
          text-align: center;
          font-size: 24px;
          font-weight: 700;

          &.prev {
            transform: rotate(180deg);
          }
    
          &:hover {
            box-shadow: 0px 8px 20px 0px rgba(6, 23, 48, 0.20);
            background-color: $buttonHoverBGWhite;
          }
        }
      }
    }
  }
    

}
