.ideaAndTalent {
  margin: 0 auto;
  width: 100%;
  height: auto;
  position: relative;
  padding: 0 34px 150px 34px;
}

@media screen and (max-width: 810px) {
  .ideaAndTalent {
    padding: 0 15px 150px 15px;
  }
}

@media screen and (max-width: 760px) {
  .ideaAndTalent {
    // flex-direction: column;
    // align-items: center;
  }
}
