.ideaAndTalent {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding-bottom: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 770px) {
  .ideaAndTalent {
    
  display: flex;
  justify-content: space-around;
  
  
  }
}

@media screen and (max-width: 710px) {
  .ideaAndTalent {
    flex-direction: column;
    align-items: center;
  
  }
}