@import '../../scss/variables';
@import '../../scss/mixins';

// Tablet styles version
.tablet-idea-description {
  padding: 40px;
  box-shadow: var(--base-box-shadow);
  border-radius: var(--base-border-radius);
  max-width: 1200px;
  min-height: 656px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: var(--base-font);

  &__logo-title {
    display: flex;
    justify-content: flex-start;
    gap: 45px;
  }

  &__title {
    @include title;
    @include center-element;
    width: 100%;
  }

  &__img {
    @include logo-96;
  }

  &__description {
    text-align: justify;
    line-height: normal;
    max-height: 218px;
  }

  &__stack {
    max-width: 590px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;

    &-title {
      @include title;
      align-self: self-start;
    }

    &-items-wraper {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }

    &-item {
      padding: 2px 8px 2px 6px;
      border-radius: 8px;
      background: var(--light-blue);
      color: var(--secondary-font-color-white);
      font-size: 15px;
      font-weight: 600;
      line-height: normal;
    }
  }

  &__specialities-btn-wraper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__specialities {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;

    &-title {
      @include title;
      align-self: start;
    }

    &-items-wraper {
      width: 100%;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }

    &-item {
      display: flex;
      align-items: center;
      padding: 2px 0 2px 0;
      border-radius: 8px;
      font-weight: 600;
      line-height: normal;

      &::before {
        content: '';
        width: 24px;
        height: 24px;
        border: 2px solid var(--base-font-color-blue);
        border-radius: 50%;
        margin-right: 8px;
      }
    }
  }

  &__link-btn {
    @include link-btn;
    width: 45%;
    align-self: center;
  }

  &__views-date-wraper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// Talent styles
.tablet-talent-description {
  &__name-avatar-portfolio-wraper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 45px;
    width: 100%;
  }

  &__portfolio-btn {
    @include link-btn;
    padding: 10px 50px;
  }

  &__speciality-description-wraper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }
}

/* Mobile styles up to 660px */
@media only screen and (max-width: 660px) {
  .tablet-idea-description,
  .idea-description {
    display: none;
  }
}

/* Tablet styles between 661px and 820px */
@media only screen and (min-width: 661px) and (max-width: 820px) {
  .mobile-idea-description,
  .idea-description {
    display: none;
  }
}

/* Desktop styles starting from 821px */
@media only screen and (min-width: 821px) {
  .mobile-idea-description,
  .tablet-idea-description {
    display: none;
  }
}
