@import '../../scss/variables';

.registration {
  width: 100%;
  height: 100%;
  background-color: rgba(6, 23, 48, 0.90);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;              
  }
  
  &::-webkit-scrollbar-track {
    background: $buttonBGWhite;       
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $buttonHoverBGWhite;  
    border-radius: 20px;       
    border: 1px solid $buttonBGWhite;  
  }

  &__button {
    // max-width: 286px;
    width: 100%;
    border-radius: 8px;
    color: #fff;
    padding: 10px 0;
    background-color: #1C145E;
    cursor: pointer;
    transition: all .3s;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    border: none;

    &:hover {
      background-color: #5B23A9;
      transition: all .3s;
      box-shadow: 0px 8px 20px 0px rgba(174, 181, 190, 0.20);
    }

    &:disabled {
      background-color: #888FC9;
      transition: all .3s;
      cursor: auto;
      border: none;
    }
  }

  &__popup {
    box-sizing: border-box;
    padding: 44px 52px;
    max-width: 603px;
    width: 100%;
    // height: 100%;  
    border-radius: 8px;
    border: 2px solid $buttonBGWhite;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    // transform: translateY(-50%);
    
    // margin-bottom: 50px;


    &-logo {
      max-width: 296px;
      width: 100%;
      margin-bottom: 40px;
      position: relative;
      
      &-picture {
        max-width: 296px;
        width: 100%;
      }
    }

    &-toggle {
      max-width: 296px;
      width: 100%;
      margin-bottom: 40px;
    }

    &-form {
      position: relative;
      max-width: 296px;
      width: 100%;
      margin-bottom: 40px;
      height: 100%;
      background-color: #fff;

      &-forgot {
        margin-top: 20px;
        &-pass {
          font-size: 16px;
          font-weight: 600;
          text-decoration-line: underline;
          color: $buttonHoverBGWhite;
          transition: all .3s;

          &:hover {
            color: $buttonBGWhite;
            transition: all .3s;
          }
        }
      }

      &.sing-up {
        max-height: 819px;
        position: relative;
      }

      &.login {
        max-height: 819px;
        position: relative;
      }
    }

    &-another {
      margin-bottom: 20px;
      width: 296px;

      &-title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
      }

      &-list {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &-item {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 16px;
          font-weight: 600;
          transition: all .3s;

          & svg {
            margin-bottom: 5px;
          }

          &:hover span {
            color: $buttonHoverBGWhite;
          }

          &.google:hover svg g g path {
            fill: $buttonHoverBGWhite;
            transition: all .3s;
            
          }
          &.github:hover svg g path {
            fill: $buttonHoverBGWhite;
            transition: all .3s;
          }
          &.linkedin:hover svg g path {
            fill: $buttonHoverBGWhite;
            transition: all .3s;
          }
        }
      }
    }

    &-question {
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 600;

      & a {
        color: $buttonHoverBGWhite;
        transition: all .3s;
        margin-left: 12px;

        &:hover {
          color: $buttonBGWhite;
          transition: all .3s;
        }
      }
    }
  }

  .form__error {
    position: absolute;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    color: #A81818;
    height: 26px;
    
  }

  & .login .form__error {
    bottom: 87px;

  }

  & .sing-up .form__error {
    bottom: 50px;
    
  }
}

@media screen and (max-width: 500px) {
  .registration {

    &__popup {
      top: 0 ;
      // transform: translateY(-50%);
      // left: 0;
      padding: 10% 20px;

      &-logo {
      
        &-picture {
          max-width: 234px;
        }

        & .cross {
          right: 0 !important;
        }
      }
    }
  }
}
