@import './reset.scss';
@import './scss/variables';

body {
  margin: 0;
  font-family: var(--base-font);
  color: var(--base-font-color-blue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 8px; /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: var(--secondary-bg-darck-blue); /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--base-hover-color-purple); /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
  border: 1px solid var(--secondary-bg-darck-blue); /* отступ вокруг бегунка */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
