@import '../../scss/variables';


@keyframes swipeStart {
  0% {
    left: 0;
  }
  100% {
    left: -1200px;
    // opacity: 1;
  }
}

@keyframes swipeEnd {
  0% {
    left: -1200px;
  }
  100% {
    left: 0px;
  }
}

.main-slider {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  position: relative;
  z-index: 98;

  &__container {
      display: flex;
      // max-width: 1200px;
      width: 100%;
      flex-wrap: wrap;
      overflow: hidden;  


      &-slider {
        max-width: 2400px;
        left: 0px;
        // width: 100%;
        display: flex;
        // justify-content: space-between;
        position: relative;

        &.active {
          animation-name: swipeStart;
          animation-duration: 1.5s;
          animation-fill-mode: ease-in;
          animation-fill-mode: forwards;
        }

        &.inert {
          animation-name: swipeEnd;
          animation-duration: 1s;
          animation-fill-mode: ease-in;
          animation-fill-mode: forwards;
        }

        &-elem {
          position: relative;
          width: 1200px;
          display: flex;

        }

        &-button {
      
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 2px solid $buttonBGWhite;
          transition: all .3s;
          cursor: pointer;
          position: absolute;
          transform: translateY(-50%);
          z-index: 101;
    
          &:hover {
            border: 2px solid $buttonHoverBGWhite;
            transition: all .3s;
          }
          
          & {
            background-color: #fff;

            

            & svg  {
              fill: $buttonBGWhite;
              transition: all .3s;
              
            }
      
            & svg:hover path {
              fill: $buttonHoverBGWhite;
              transition: all .3s;
              
            }
          } 
        }
      }
    }
}