@import '../../scss//variables';

.talant {
  padding: 25px 20px;
  box-shadow: 0px 8px 20px 0px rgba(29, 60, 108, 0.2);
  border-radius: 8px;
  max-width: 1200px;
  height: 147px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  box-sizing: border-box;
  position: relative;

  &__img {
    &-picture {
      max-width: 96px;
      max-height: 96px;
      width: 100%;
      height: 100%;
    }
  }

  &__container {
    display: flex;

    &-info {
      max-width: 454px;
  
      &-title {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
      }
  
      &-description {
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 10px;
      }

      &-button {
        width: 90%;
      }
    }
  
    &-technologies {
      margin-left: 15px;
  
      &-item {
        margin-bottom: 10px;

        &-teh {
          padding: 2px 8px 2px 6px;
          color: #FCFCFC;
          font-family: Montserrat;
          font-size: 15px;
          font-weight: 600;
          border-radius: 8px;
          background: #5D7497;
        }
  
        &.all-technologies {
          display: flex;
          align-items: flex-end;
  
  
          height: 10px;
          background: none;
          color: #888FC9;
          font-size: 35px;
          padding: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  &__metrics {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;

    &-view {
      

      display: flex;
      align-items: center;

      &-total {
        margin-left: 10px;
      }
    }

  }
}

@media screen and (max-width: 1000px) {
  .talant {
    max-height: 181px;
    height: 100%;



    &__container {
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;

      &-button {
        position: absolute;
        max-width: 454px;
        width: 100%;
        bottom: 20px;
      }
    
      &-technologies {
        display: flex;
        align-items: center;
        margin: 0;
        &-item {
          margin-right: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .talant {

    &__button {
      position: absolute;
      bottom: 20px;
      right: 10px;
    }

    &__container-button {
      max-width: 420px;
    }


  
    &__metrics {
      align-self: flex-start;
      max-height: 52px;
  
    }
  }
}

// @media screen and (max-width: 800px) {
//   .talant {

//     &__container-button {
//       max-width: 400px;
//     }
//   }
// }

@media screen and (max-width: 810px) {
  .talant {
    max-width: 342px;
    min-height: 480px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;

    &__container-button {
      padding: 10px 15px;
      background-color: $buttonBGWhite;
      border-radius: 8px;

      &:hover {
        background-color: $buttonHoverBGWhite;
      }
    }

    // flex-direction: column;
  
    &__img {
      order: 1;
      width: 40%;

      &-picture {
      width: 60px;
      height: 60px;
      }
    }
  
    &__container {
      margin-top: 20px;
      order: 3;
      width: 100%;

      &-info {
    
        &-title {
          text-align: center;
          margin-bottom: 40px;
        }
    
        &-description {
          margin-bottom: 40px;
        }
      }

      &-button {
        bottom: 20%;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
      }
    
      &-technologies {
        flex-wrap: wrap;
      }
    }

    &__button {
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
    }
  
    &__metrics {
      order: 2;
      width: 60%;
      flex-direction: row-reverse;
      align-items: center;  
    }
  }
}