@import '../../scss/variables';
@import '../../scss/mixins';

// Mobile version
.mobile-idea-description {
  min-width: 342px;
  min-height: fit-content;
  margin: 40px 24px;
  box-shadow: var(--base-box-shadow);
  border-radius: var(--base-border-radius);

  &__content-wraper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-img {
      @include logo-60;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-title {
      @include title;
      @include center-element;
      width: 100%;
    }
    &-description {
      line-height: normal;
      // max-height: 218px;
    }
  }
  &__stack {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;

    &-title {
      @include title;
    }

    &-items-wraper {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }

    &-item {
      padding: 2px 8px 2px 6px;
      border-radius: 8px;
      background: var(--light-blue);
      color: var(--secondary-font-color-white);
      font-size: 15px;
      font-weight: 600;
      line-height: normal;
    }
  }

  &__specialities {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;

    &-title {
      @include title;
    }

    &-wraper {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }

    &-item {
      @include center-element;
      padding: 2px 0 2px 0;
      border-radius: 8px;
      font-weight: 600;
      line-height: normal;

      &::before {
        content: '';
        width: 24px;
        height: 24px;
        border: 2px solid var(--base-font-color-blue);
        border-radius: 50%;
        margin-right: 8px;
      }
    }
  }

  &__btn-wraper {
    @include center-element;
    flex-direction: column;

    &-link-btn {
      @include link-btn;
    }
  }

  &___question-mark {
    align-self: flex-start;
  }
}

//  Mobile styles media
@media screen and (max-width: 389px) {
  .mobile-idea-description {
    min-width: 290px;
    margin: 10px 10px;

    &__content-wraper {
      gap: 20px;
    }

    &__info {
      gap: 15px;
    }
  }
}

/* Mobile styles up to 660px */
@media only screen and (max-width: 660px) {
  .tablet-idea-description,
  .idea-description {
    display: none;
  }
}

/* Tablet styles between 661px and 820px */
@media only screen and (min-width: 661px) and (max-width: 820px) {
  .mobile-idea-description,
  .idea-description {
    display: none;
  }
}

/* Desktop styles starting from 821px */
@media only screen and (min-width: 821px) {
  .mobile-idea-description,
  .tablet-idea-description {
    display: none;
  }
}
