@import '../../scss/variables';

.cross {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    transform: rotate(90deg);
    transition: all .3s;
    
  }

  &__small {
    position: absolute;

    width: 10px;
    height: 8px;
    background-color: $buttonBGWhite;

    &.top {
      top: 17%;
      left: 19%;
      transform: rotate(45deg);
      transition: all .3s;
    }

    &.bottom {
      bottom: 21%;
      right: 20%;
      transform: rotate(45deg);
    }
  }

  &__big {
    display: block;
    position: absolute;
    top: 37%;
    left: 6%;
    width: 36.1px;
    height: 8px;
    background-color: $buttonBGWhite;
    transform: rotate(135deg);
  }  
}
