channels==4.0.0
daphne==4.0.0
dj_config_url==0.1.1
Django==4.2.3
django_filter==23.2
django-cors-headers==4.2.0
djangorestframework==3.14.0
djangorestframework_simplejwt==5.2.2
drf_yasg==1.21.7
protobuf==4.25.1
PyJWT==2.8.0
psycopg2==2.9.9
python-dotenv==1.0.0
python-slugify==8.0.1
Requests==2.31.0
six==1.16.0
google-api-core==2.11.1
google-api-python-client==2.94.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.59.1
Pillow==10.0.0
