channels
daphne
Django
django_filter
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
drf_yasg
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
protobuf
PyJWT
python-slugify
Requests
six
python-slugify
python-dotenv
Pillow
oauthlib
