@import '../../scss//variables';

@keyframes toggled-forward {
  0% {
    left: 3%;
  }
  25% {
    left: 20.5%;
  }
  50% {
    left: 38%;
    border: 1px solid #fff;
    background-color: #615f77;
  }
  75% {
    left: 55.5%;
    border: 1px solid #fff;
    background-color: #433e6c;
  }
  100% {
    left: 71%;
    border: 1px solid #fff;
    background-color: #1c145e;
  }
}

@keyframes toggled-backward {
  0% {
    left: 71%;
    border: 1px solid #fff;
    background-color: #1c145e;
  }
  25% {
    left: 55.5%;
    border: 1px solid #fff;
    background-color: #433e6c;
  }
  50% {
    left: 38%;
    border: 1px solid #fff;
    background-color: #615f77;
  }
  75% {
    left: 20.5%;
  }
  100% {
    left: 3%;
  }
}

.toggle-theme {
  // max-width: 132px;
  width: 100%;
  background-color: #fff;

  &__container {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid $borderWhiteTheme;
    border-radius: 32px;
    background-color: #fff;

    &-elem {
      display: block;
      width: 32px;
      height: 32px;
      border: 1px solid $borderWhiteTheme;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 3%;
      transform: translateY(-50%);

      &-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
        height: 25px;
      }

      &.false {
        animation-name: toggled-forward;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
      }
      &.true {
        animation-name: toggled-backward;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
      }
    }
  }
}
