.avatar-name {
  max-width: 200px;
  font-family: var(--base-font);
  font-size: 16px;

  .avatar-change-avatar {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__avatar {
      min-width: 200px;
      min-height: 200px;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;

      &-btn {
        display: block;
        box-sizing: border-box;
        max-width: 160px;
        height: 40px;
        padding: 10px 12px;
        text-align: center;
        font-weight: 700;
        border-radius: var(--base-border-radius);
        color: var(--secondary-font-color-white);
        background-color: var(--secondary-bg-dark-blue);
        align-self: center;
        margin-bottom: 40px;
      }

      &-input {
        display: none;
      }

      &-name {
        font-weight: 800;
        margin-bottom: 20px;
        padding: 10px;
      }

      &-email {
        font-weight: 600;
        padding: 10px;
        margin-bottom: 40px;
      }
    }
  }
}
