.header {
  padding: 20px 24px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 99;
  box-sizing: border-box;

  &__main-link {
    &-logo {
      max-width: 282px;
      width: 100%;
      max-height: 48px;
      height: 100%;
    }
  }

  &__nav {
    max-width: 392px;
    width: 100%;

    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-item {
        & a {
          font-size: 24px;
          font-weight: 600;
          color: #061730;
          text-decoration: none;

          &.active {
            color: #5B23A9;
            transition: all .3s;
            padding-bottom: 7px;
            border-bottom: 2px solid #5B23A9;
          }

          &:hover {
            color: #5B23A9;
            transition: all .3s;
            padding-bottom: 7px;
            border-bottom: 2px solid #5B23A9;
          }
        }
        
      }
    }
  }

  &__settings {
    position: relative;
    max-width: 282px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;

    &-login {
      display: block;
      text-decoration: none;
      font-size: 16px;
      font-weight: 700;
      padding: 10px 20px;
      color: #FCFCFC;
      border-radius: 8px;
      background-color: #061730;
      cursor: pointer;
      border: none;
      transition: all .5s;
      display: flex;
      justify-content: center;
      align-items: center;

      & svg {
        margin-right: 5px;
      }

      &:hover {
        background-color: #5B23A9;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .header { 
    &__settings {
      max-width: 200px;
    }
  }
}

@media screen and (max-width: 960px) {
  .header {
    &__settings {
      max-width: 150px;
    }
  }
}

@media screen and (max-width: 900px) {
  .header {
    &__settings {
      max-width: 40px;
      display: flex;
      justify-content: end;
      &-login {
        display: none;
      }
    }

    &__main-link {
      &-logo {
        max-width: 178px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .header {
    flex-wrap: wrap;
    justify-content: space-between;

    &__main-link {
      order: 1;
      width: 50%;
    }
  
    &__nav {
      order: 3;
      max-width: 100%;
      width: 100%;
      text-align: center;
      margin: 15px 0;
    }
  
    &__settings {
      order: 2;
      width: 50%;
    }
  }
}

@media screen and (max-width: 460px) {
  .header {
  
    &__nav {
      &-list {
        &-item {
          & a {
            font-size: 20px;
          }
        }
      }
    }

  }
}

@media screen and (max-width: 360px) {
  .header {
    flex-wrap: wrap;
    justify-content: space-between;
  
    // &__nav {
    //   margin: 15px 0px;
    // }

  }
}