@import '../../scss/_variables';

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes showMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.header__settings-container {
  position: relative;
  z-index: 99;
  &-icon {
    position: relative;
    z-index: 100;
    width: 38px;
    height: 38px;
    cursor: pointer;

    &:hover {
      animation-name: rotate;
      animation-duration: 1s;
      animation-timing-function: ease;
    }    
  }

  &-menu {
    animation-name: showMenu;
    animation-duration: 1s;
    animation-timing-function: ease;
    position: absolute;
    top: 40px;
    right: -3px;
    max-width: 165px;
    width: 100%;
    background-color: #fff;
  
    &-container {
      z-index: 99;
      position: absolute;
      right: 0px;
  
      &-round {
        position: absolute;
        top: -44px;
        right: 0 ;
        width: 44px;
        height: 44px;
        border: 1px solid $borderWhiteTheme;
        border-radius: 50%;
        border-bottom-right-radius: 0;
      }
  
      &-line {
        position: absolute;
        width: 28px;
        height: 5px;
        top: -3px;
        right: 1px;
        background-color: rgb(255, 255, 255);
        z-index: 99;
      }
  
      &-list {
        width: 165px;
        padding: 10px;
        padding-bottom: 14px;
        padding-top: 26px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid $borderWhiteTheme;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        background-color: #fff;
  
        &-item {
          max-width: 132px;
          width: 100%;
          margin-bottom: 28px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &-text {
            margin-bottom: 10px;
          }

          &-login {
              display: none;
              text-decoration: none;
              font-size: 16px;
              font-weight: 700;
              padding: 10px 20px;
              color: #FCFCFC;
              border-radius: 8px;
              background-color: #061730;
              cursor: pointer;
              border: none;
              transition: all .5s;
        
              &:hover {
                background-color: #5B23A9;
              }
            
           }
         }
       }
    }
  }
}

@media screen and (max-width: 900px) {
  .header__settings-container-menu-container-list-item-login {
    display: block;
  }
}

@media screen and (min-width: 1650px) {
  .header__settings-container-menu-container-line {
    position: absolute;
    width: 28px;
    height: 5px;
    top: -2px;
    right: 1px;
    background-color: rgb(255, 255, 255);
    z-index: 99;
  }
}

@media screen and (min-width: 2100px) {
  .header__settings-container-menu-container-line {
    position: absolute;
    width: 28px;
    height: 5px;
    top: 0px;
    right: 2px;
    background-color: rgb(255, 255, 255);
    z-index: 99;
  }
}