@import '../../scss/variables';

@keyframes flyUp {
  0% {
    top: 50%;
  }
  100% {
    top: 0;
  }
}

@keyframes flyDown {
  0% {
    top: 0
  }
  100% {
    top: 50%;
  }
}

.custom-input {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;

    &__input {
      box-sizing: border-box;
      padding: 10px;
      width: 100%;
      height: 40px;
      border-radius: 8px;
      border: 2px solid $borderWhiteTheme;
      transition: all .2s; 
      outline: none;

      &.password {
        padding-right: 43px;
      }
      

      .custom-input:hover & {
        border: 2px solid $buttonHoverBGWhite;
        transition: all .2s; 
      }

      .custom-input:hover &.error {
        border: 2px solid #A81818;
        transition: all .2s; 
      }

      .custom-input:hover &.done {
        border: 2px solid #12733F;
        transition: all .2s; 
      }

      &.error {
        border: 2px solid #A81818;
        transition: all 1s; 
        color: #A81818;
      }
      
      &.done {
        border: 2px solid #12733F;
        transition: all .2s; 
        color: #12733F;
      }
    }

    &__eye {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      transition: all .3s;
      

      & svg path:last-child {

        .custom-input:hover &.error,
        &.error {
          transition: all .3s;
          stroke: #A81818;
        }

        .custom-input:hover &.done,
        &.done {
          transition: all .3s;
          stroke: #12733F;
        }
      }

      &-false path:nth-child(2) {
        .custom-input:hover &.error,
        &.error {
          transition: all .3s;
          fill: #A81818;
        }
        .custom-input:hover &.done,
        &.done {
          transition: all .3s;
          fill: #12733F;
        }
      }

      &-true circle:first-child,
      &-true circle:nth-child(3) {
        .custom-input:hover &.error,
        &.error {
          fill: #A81818;
        }
        .custom-input:hover &.done,
        &.done {
          fill: #12733F;
        }
      }

      .custom-input:hover & svg path:last-child {
        transition: all .3s;
        stroke: $buttonHoverBGWhite;
      }
      
      
      .custom-input:hover &-false path:nth-child(2) {
        transition: all .3s;
        fill: $buttonHoverBGWhite;
      }

      .custom-input:hover &-true circle:first-child,
      .custom-input:hover &-true circle:nth-child(3) {
        fill: $buttonHoverBGWhite;  
      }


    }

    &__label {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: text;
      padding: 0 5px;
      background-color: #fff;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 600;
      color: $borderWhiteTheme;
      transition: all .2s;       
      
      &.error {
        color: #A81818;
        transition: all .2s ; 
      }
      
      &.done {
        color: #12733F;
        transition: all .2s; 
      }
    }

    &:hover &__label {
      color: $buttonHoverBGWhite;
      transition: all .2s; 
    }

    &:hover &__label.error {
      color: #A81818;
      transition: all .2s; 
    }

    &:hover &__label.done {
      color: #12733F;
      transition: all .2s; 
    }
  

  &__message {
    position: absolute;
    bottom: -25px;
    left: 0;
    
    &-good {
      padding-left: 24px;
      &-elem {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }

      &-text {
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 600;
        color: #12733F;
      }
    }

    &-error {
      // position: absolute;
      padding-left: 24px;


      &-elem {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }

      &-text {
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 600;
        color: #A81818;
      }
    }

    
  }
  

}
