// Wtite Theme
$textColorWhite: #fcfcfc;
$buttonBGWhite: #1c145e;
$buttonHoverBGWhite: #5b23a9;

$borderWhiteTheme: #1c145e;

// color
$base-background-white: #fcfcfc;
$base-font-color-blue: #061730;
$secondary-font-color-white: #fcfcfc;
// spacing

// borders
$base-border-radius: 8px;
// box-shadow
$base-box-shadow: 0px 8px 20px 0px rgba(6, 23, 48, 0.2);
