@import '../../scss/variables';

.more-loading {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: var(--secondary-bg-darck-blue);
  border-radius: 8px;
  color: var(--secondary-font-color-white);
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 146px;
  width: 100%;
  border: none;
  outline: none;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    background-color: var(--base-hover-color-purple);
    box-shadow: var(--base-box-shadow);
    transition: background-color 0.5s;
  }
  &:active {
    background-color: var(--secondary-bg-darck-blue);
    box-shadow: var(--base-box-shadow);
    transition: background-color 0.5s;
  }
  &:disabled {
    background-color: var(--base-disable-color-gray);
    box-shadow: var(--base-box-shadow);
  }
}
